USE [master]
GO
/****** Object:  Database [Diploma]    Script Date: 28/6/2022 16:29:30 ******/
CREATE DATABASE [Diploma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Diploma', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Diploma.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Diploma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Diploma_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diploma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diploma]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[fk_usuario] [int] NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[Criticidad] [int] NOT NULL,
	[Fecha_movimiento] [nvarchar](50) NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[id_DV] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tabla] [nvarchar](20) NOT NULL,
	[valorDVV] [int] NOT NULL,
 CONSTRAINT [PK_DigitoVerificador] PRIMARY KEY CLUSTERED 
(
	[id_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etiquetas]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etiquetas](
	[id_etiqueta] [int] IDENTITY(1,1) NOT NULL,
	[nombre_etiqueta] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia_Patente]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia_Patente](
	[idPermisoPadre] [int] NOT NULL,
	[idPermisoHijo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id_idioma] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[Default] [bit] NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[idPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Permiso] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[ID_UnidadMedida] [int] NOT NULL,
	[LeadTimeCompra] [int] NULL,
	[ConsumoMensual] [float] NULL,
	[ConsumoTrimestral] [float] NULL,
	[ConsumoSemestral] [float] NULL,
	[StockMinimo] [float] NULL,
	[StockOptimo] [float] NULL,
	[Estado] [nvarchar](15) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[razonSocial] [nvarchar](50) NOT NULL,
	[cuit] [int] NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [int] NULL,
	[estado] [nvarchar](15) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traducciones]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traducciones](
	[id_traducciones] [int] IDENTITY(1,1) NOT NULL,
	[id_idioma] [int] NOT NULL,
	[traduccion] [nvarchar](50) NOT NULL,
	[id_etiqueta] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unidad_Medida]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unidad_Medida](
	[Id_UnidadMedida] [int] IDENTITY(1,1) NOT NULL,
	[Simbolo] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[estado] [nvarchar](15) NULL,
 CONSTRAINT [PK_Unidad_Medida] PRIMARY KEY CLUSTERED 
(
	[Id_UnidadMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](20) NOT NULL,
	[contrasena] [nvarchar](300) NOT NULL,
	[contador] [int] NOT NULL,
	[estado] [nvarchar](20) NULL,
	[email] [nvarchar](20) NOT NULL,
	[DVH] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Permiso]    Script Date: 28/6/2022 16:29:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Permiso](
	[idUsuario] [int] NOT NULL,
	[idPermiso] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id_bitacora], [fk_usuario], [Descripcion], [Criticidad], [Fecha_movimiento], [DVH]) VALUES (2922, 2, N'ZGFzZGFz', 2, N'20200910150937', 8785)
INSERT [dbo].[Bitacora] ([id_bitacora], [fk_usuario], [Descripcion], [Criticidad], [Fecha_movimiento], [DVH]) VALUES (2923, 2, N'ZGFzZGFz', 2, N'20200910150937', 8785)
INSERT [dbo].[Bitacora] ([id_bitacora], [fk_usuario], [Descripcion], [Criticidad], [Fecha_movimiento], [DVH]) VALUES (2924, 0, N'U2UgaGEgZGFkbyBkZSBhbHRhIHVuIG51ZXZvIHVzdWFyaW8=', 2, N'20200916110052', 105862)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador] ON 

INSERT [dbo].[DigitoVerificador] ([id_DV], [nombre_tabla], [valorDVV]) VALUES (1, N'Bitacora', 7995907)
INSERT [dbo].[DigitoVerificador] ([id_DV], [nombre_tabla], [valorDVV]) VALUES (3, N'Usuario', 570702)
SET IDENTITY_INSERT [dbo].[DigitoVerificador] OFF
GO
SET IDENTITY_INSERT [dbo].[etiquetas] ON 

INSERT [dbo].[etiquetas] ([id_etiqueta], [nombre_etiqueta]) VALUES (1, N'Usuario')
INSERT [dbo].[etiquetas] ([id_etiqueta], [nombre_etiqueta]) VALUES (2, N'Contraseña')
INSERT [dbo].[etiquetas] ([id_etiqueta], [nombre_etiqueta]) VALUES (12, N'Baja Usuario')
SET IDENTITY_INSERT [dbo].[etiquetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([id_idioma], [nombre], [Default]) VALUES (1, N'español', 1)
INSERT [dbo].[Idioma] ([id_idioma], [nombre], [Default]) VALUES (2, N'ingles', 0)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ID_Producto], [Codigo], [Descripcion], [ID_UnidadMedida], [LeadTimeCompra], [ConsumoMensual], [ConsumoTrimestral], [ConsumoSemestral], [StockMinimo], [StockOptimo], [Estado]) VALUES (5, N'cl', N'Clavo', 2, 0, 0, 0, 0, 0, 20, N'BAJA')
INSERT [dbo].[Producto] ([ID_Producto], [Codigo], [Descripcion], [ID_UnidadMedida], [LeadTimeCompra], [ConsumoMensual], [ConsumoTrimestral], [ConsumoSemestral], [StockMinimo], [StockOptimo], [Estado]) VALUES (6, N'tr', N'Tornillo', 2, 0, 0, 0, 0, 10, 50, N'BAJA')
INSERT [dbo].[Producto] ([ID_Producto], [Codigo], [Descripcion], [ID_UnidadMedida], [LeadTimeCompra], [ConsumoMensual], [ConsumoTrimestral], [ConsumoSemestral], [StockMinimo], [StockOptimo], [Estado]) VALUES (8, N'lm', N'Lamparita', 3, 0, 0, 0, 0, 10, 50, N'BAJA')
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Traducciones] ON 

INSERT [dbo].[Traducciones] ([id_traducciones], [id_idioma], [traduccion], [id_etiqueta]) VALUES (1, 1, N'Usuario', 1)
INSERT [dbo].[Traducciones] ([id_traducciones], [id_idioma], [traduccion], [id_etiqueta]) VALUES (2, 2, N'Username', 1)
INSERT [dbo].[Traducciones] ([id_traducciones], [id_idioma], [traduccion], [id_etiqueta]) VALUES (3, 1, N'Contraseña', 2)
SET IDENTITY_INSERT [dbo].[Traducciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Unidad_Medida] ON 

INSERT [dbo].[Unidad_Medida] ([Id_UnidadMedida], [Simbolo], [Nombre], [estado]) VALUES (2, N'KG', N'Kilogramo', NULL)
INSERT [dbo].[Unidad_Medida] ([Id_UnidadMedida], [Simbolo], [Nombre], [estado]) VALUES (3, N'UN', N'Unidad', NULL)
SET IDENTITY_INSERT [dbo].[Unidad_Medida] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [usuario], [contrasena], [contador], [estado], [email], [DVH]) VALUES (6, N'cGVwZQ==', N'I+oGN4nA6GESI8UXA4mssXVmXvlkU1/zm1hO8XsU9YE=', 1, NULL, N'pepe@gmail.com', 0)
INSERT [dbo].[Usuario] ([id_usuario], [usuario], [contrasena], [contador], [estado], [email], [DVH]) VALUES (14, N'dG90bw==', N'/w17GWbXw7K32raL1vG7L3d0hRmg9O0DxeEWUCRHRj0=', 0, NULL, N'toto@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Unidad_Medida] FOREIGN KEY([ID_UnidadMedida])
REFERENCES [dbo].[Unidad_Medida] ([Id_UnidadMedida])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Unidad_Medida]
GO
USE [master]
GO
